*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #74b9ff;
}
.container{
    padding: 20px;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 4px;
    width: 400px;
    margin: 100px auto 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
/*SEGMENTED CONTROL********************************/
.segmented-control__btn {
    border: 2px solid #5896ff;
    border-left: 0;
    padding: 10px;
    position: relative;
    cursor: pointer;
    background: #fff;
}
.segmented-control__btn:hover {
    background: rgba(88, 150, 225, 0.2)
}
.segmented-control__btn:first-child {
    border-left: 2px solid #5896ff;
    border-radius: 4px 0 0 4px;
}
.segmented-control__btn:last-child {
    border-radius: 0 4px 4px 0;
}
.segmented-control__btn--active,
.segmented-control__btn--active:hover {
    background: #5896ff;
    color: #fff;
}
.segmented-control__select {
    width: 100%;
    border: 2px solid #5896ff;
    background: transparent;
    height: 36px;
    display: none;
}
.segmented-control__btn:focus,
.segmented-control__select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(88, 150, 225, 0.4);
    z-index: 2;
}
@media screen and (max-width: 500px) {
    .segmented-control__row {
        display: none;
    }

    .segmented-control__select {
        display: block;
    }
}
/*SEGMENTED CONTROL*************************************/

/*TAB INDEX**************************/

.tab-index{
    margin-top: 50px;
}
.tab-index__row{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
}  
.tab-index__text > input {
    border: none;
    border-bottom: 2px solid rgb(177, 175, 175);
    width: 230px;
    margin-top: 30px;
}
.tab-index__btn{
    border: none;
    padding: 15px 20px;
    cursor: pointer;
}
.tab-index__btn:focus {
    box-shadow: 0 0 0 2px rgba(134, 135, 136, 0.4);
}
.tab-index__vals{
    text-decoration: none;
    color: rgb(177, 175, 175);
    font-weight: 600;
}
.tab-index__vals--active {
    color: rgb(85, 83, 83);
}







/*TAB INDEX**************************/